In [3]:
%run data.ipynb

   Expression          Individual       Example Type
0         Cat       animals#cat01  positive examples
1         Cat       animals#boy01  negative examples
2         Cat    animals#lizard01  negative examples
3         Cat     animals#snake01  negative examples
4         Cat     animals#trout01  negative examples
5         Cat       animals#bat01  negative examples
6         Cat     animals#eagle01  negative examples
7         Cat      animals#trex01  negative examples
8         Cat   animals#ostrich01  negative examples
9         Cat       animals#eel01  negative examples
10        Cat       animals#dog01  negative examples
11        Cat    animals#dragon01  negative examples
12        Cat      animals#girl01  negative examples
13        Cat    animals#turtle01  negative examples
14        Cat     animals#shark01  negative examples
15        Cat   animals#dolphin01  negative examples
16        Cat   animals#herring01  negative examples
17        Cat     animals#croco01  negative examples
18        Cat  animals#platypus01  negative examples
19        Cat   animals#penguin01  negative examples
['positive examples' 'negative examples']
(205976, 3)

In [4]:
neg_classes = df[df['Expression'].str.contains('¬') & ~df['Expression'].str.contains('[⊔⊓]')]

neg_classes

      Expression          Individual       Example Type  Example Encoding
8188        ¬Cat     animals#eagle01  positive examples                 1
8189        ¬Cat       animals#bat01  positive examples                 1
8190        ¬Cat       animals#dog01  positive examples                 1
8191        ¬Cat  animals#platypus01  positive examples                 1
8192        ¬Cat    animals#turtle01  positive examples                 1
...          ...                 ...                ...               ...
16371       ¬Dog     animals#trout01  positive examples                 1
16372       ¬Dog     animals#shark01  positive examples                 1
16373       ¬Dog     animals#eagle01  positive examples                 1
16374       ¬Dog       animals#eel01  positive examples                 1
16375       ¬Dog       animals#dog01  negative examples                 0

[8188 rows x 4 columns]

In [5]:
# neg_classes['b_Expression'] = df[str(neg_classes['Expression'].str[1:])]
# df[neg_classes['Expression'].str[1:]]

In [6]:
# merge negated classes and individuals with their embdenings

neg_ent = pd.merge(neg_classes, ent, left_on='Individual', right_on='Unnamed: 0', how='inner')
# atomic_ent.columns
# neg_ent = pd.merge(neg_ent, ent, left_on="df[Expression]", right_on='Unnamed: 0', how='inner', suffixes=['_ind', '_cla'])
neg_ent

,Expression,Individual,Example Type,Example Encoding,Unnamed: 0,0,1,2,3,4,...,30,31,32,33,34,35,36,37,38,39
0,¬Cat,animals#eagle01,positive examples,1,animals#eagle01,0.303576,-0.257578,0.161850,-0.179229,0.374312,...,-0.161282,-0.254736,0.055635,-0.190755,-0.121789,-0.243177,-0.154616,-0.201404,-0.135880,0.358249
1,¬Cat,animals#bat01,positive examples,1,animals#bat01,0.252662,-0.221016,0.193865,-0.269896,0.241908,...,-0.091240,-0.272894,-0.433999,-0.219100,-0.102484,-0.090931,-0.164620,-0.184859,-0.192803,0.282611
2,¬Cat,animals#dog01,positive examples,1,animals#dog01,0.319683,-0.116797,0.145267,-0.214833,0.240879,...,-0.161214,-0.520242,-0.344551,-0.187072,-0.110556,-0.223602,-0.204797,-0.214734,-0.110449,0.280229
3,¬Cat,animals#platypus01,positive examples,1,animals#platypus01,0.256755,0.015516,0.219961,-0.188331,0.250906,...,-0.192817,-0.306515,-0.052506,-0.140758,-0.124978,-0.387769,-0.210615,-0.212747,-0.198139,0.202995
4,¬Cat,animals#turtle01,positive examples,1,animals#turtle01,0.135965,0.043173,0.263420,-0.280071,0.259648,...,-0.298189,-0.448610,-0.194734,-0.199881,-0.093689,-0.090905,-0.227366,-0.167738,-0.145611,0.323363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8183,¬Dog,animals#trout01,positive examples,1,animals#trout01,0.115120,-0.028380,0.157293,-0.273941,0.275957,...,-0.291705,-0.560253,0.016252,-0.234659,-0.102477,0.018196,-0.213878,-0.164642,-0.133425,0.312652
8184,¬Dog,animals#shark01,positive examples,1,animals#shark01,0.265107,0.035628,0.237405,-0.208801,0.326406,...,-0.227809,-0.170068,-0.419936,-0.280010,-0.032112,-0.230731,-0.102835,-0.188250,-0.221799,0.176027
8185,¬Dog,animals#eagle01,positive examples,1,animals#eagle01,0.303576,-0.257578,0.161850,-0.179229,0.374312,...,-0.161282,-0.254736,0.055635,-0.190755,-0.121789,-0.243177,-0.154616,-0.201404,-0.135880,0.358249
8186,¬Dog,animals#eel01,positive examples,1,animals#eel01,0.183932,-0.133378,0.220719,-0.224796,0.297274,...,-0.077030,-0.240315,-0.161219,-0.235806,-0.048125,-0.199358,-0.230168,-0.230831,-0.169089,0.248175
8187,¬Dog,animals#dog01,negative examples,0,animals#dog01,0.319683,-0.116797,0.145267,-0.214833,0.240879,...,-0.161214,-0.520242,-0.344551,-0.187072,-0.110556,-0.223602,-0.204797,-0.214734,-0.110449,0.280229

In [7]:

# Apply the pattern to the values in a specific column (e.g., 'Column1')
neg_ent['b_Expression'] = neg_ent['Expression'].str.replace('¬', '')

In [8]:
neg_ent = pd.merge(neg_ent, ent, left_on="b_Expression", right_on='Unnamed: 0', how='inner', suffixes=['_ind', '_cla'])
neg_ent

,Expression,Individual,Example Type,Example Encoding,Unnamed: 0_ind,0_ind,1_ind,2_ind,3_ind,4_ind,...,30_cla,31_cla,32_cla,33_cla,34_cla,35_cla,36_cla,37_cla,38_cla,39_cla
0,¬Cat,animals#eagle01,positive examples,1,animals#eagle01,0.303576,-0.257578,0.161850,-0.179229,0.374312,...,0.190652,-0.317788,-0.006029,-0.285176,0.176120,-0.070169,-0.269090,-0.445585,-0.012556,0.332329
1,¬Cat,animals#bat01,positive examples,1,animals#bat01,0.252662,-0.221016,0.193865,-0.269896,0.241908,...,0.190652,-0.317788,-0.006029,-0.285176,0.176120,-0.070169,-0.269090,-0.445585,-0.012556,0.332329
2,¬Cat,animals#dog01,positive examples,1,animals#dog01,0.319683,-0.116797,0.145267,-0.214833,0.240879,...,0.190652,-0.317788,-0.006029,-0.285176,0.176120,-0.070169,-0.269090,-0.445585,-0.012556,0.332329
3,¬Cat,animals#platypus01,positive examples,1,animals#platypus01,0.256755,0.015516,0.219961,-0.188331,0.250906,...,0.190652,-0.317788,-0.006029,-0.285176,0.176120,-0.070169,-0.269090,-0.445585,-0.012556,0.332329
4,¬Cat,animals#turtle01,positive examples,1,animals#turtle01,0.135965,0.043173,0.263420,-0.280071,0.259648,...,0.190652,-0.317788,-0.006029,-0.285176,0.176120,-0.070169,-0.269090,-0.445585,-0.012556,0.332329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8183,¬Dog,animals#trout01,positive examples,1,animals#trout01,0.115120,-0.028380,0.157293,-0.273941,0.275957,...,-0.297430,0.169880,0.206478,-0.285225,-0.196411,-0.136789,-0.248808,-0.360837,-0.111585,0.350478
8184,¬Dog,animals#shark01,positive examples,1,animals#shark01,0.265107,0.035628,0.237405,-0.208801,0.326406,...,-0.297430,0.169880,0.206478,-0.285225,-0.196411,-0.136789,-0.248808,-0.360837,-0.111585,0.350478
8185,¬Dog,animals#eagle01,positive examples,1,animals#eagle01,0.303576,-0.257578,0.161850,-0.179229,0.374312,...,-0.297430,0.169880,0.206478,-0.285225,-0.196411,-0.136789,-0.248808,-0.360837,-0.111585,0.350478
8186,¬Dog,animals#eel01,positive examples,1,animals#eel01,0.183932,-0.133378,0.220719,-0.224796,0.297274,...,-0.297430,0.169880,0.206478,-0.285225,-0.196411,-0.136789,-0.248808,-0.360837,-0.111585,0.350478
8187,¬Dog,animals#dog01,negative examples,0,animals#dog01,0.319683,-0.116797,0.145267,-0.214833,0.240879,...,-0.297430,0.169880,0.206478,-0.285225,-0.196411,-0.136789,-0.248808,-0.360837,-0.111585,0.350478

In [9]:
classes = ['0_cla', '1_cla', '2_cla', '3_cla', '4_cla', '5_cla', '6_cla', '7_cla', '8_cla', '9_cla', '10_cla', '11_cla', '12_cla', '13_cla', '14_cla', '15_cla', '16_cla', '17_cla', '18_cla', '19_cla', '20_cla', '21_cla', '22_cla', '23_cla', '24_cla', '25_cla', '26_cla', '27_cla', '28_cla', '29_cla', '30_cla', '31_cla', '32_cla', '33_cla', '34_cla', '35_cla', '36_cla', '37_cla', '38_cla', '39_cla']
neg_ent[classes] = neg_ent[classes].apply(lambda x: x * -1)
neg_ent
# for cls in classes:
#     neg_ent[cls] = neg_ent[cls].apply(lambda x: x * -1)
# neg_ent

,Expression,Individual,Example Type,Example Encoding,Unnamed: 0_ind,0_ind,1_ind,2_ind,3_ind,4_ind,...,30_cla,31_cla,32_cla,33_cla,34_cla,35_cla,36_cla,37_cla,38_cla,39_cla
0,¬Cat,animals#eagle01,positive examples,1,animals#eagle01,0.303576,-0.257578,0.161850,-0.179229,0.374312,...,-0.190652,0.317788,0.006029,0.285176,-0.176120,0.070169,0.269090,0.445585,0.012556,-0.332329
1,¬Cat,animals#bat01,positive examples,1,animals#bat01,0.252662,-0.221016,0.193865,-0.269896,0.241908,...,-0.190652,0.317788,0.006029,0.285176,-0.176120,0.070169,0.269090,0.445585,0.012556,-0.332329
2,¬Cat,animals#dog01,positive examples,1,animals#dog01,0.319683,-0.116797,0.145267,-0.214833,0.240879,...,-0.190652,0.317788,0.006029,0.285176,-0.176120,0.070169,0.269090,0.445585,0.012556,-0.332329
3,¬Cat,animals#platypus01,positive examples,1,animals#platypus01,0.256755,0.015516,0.219961,-0.188331,0.250906,...,-0.190652,0.317788,0.006029,0.285176,-0.176120,0.070169,0.269090,0.445585,0.012556,-0.332329
4,¬Cat,animals#turtle01,positive examples,1,animals#turtle01,0.135965,0.043173,0.263420,-0.280071,0.259648,...,-0.190652,0.317788,0.006029,0.285176,-0.176120,0.070169,0.269090,0.445585,0.012556,-0.332329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8183,¬Dog,animals#trout01,positive examples,1,animals#trout01,0.115120,-0.028380,0.157293,-0.273941,0.275957,...,0.297430,-0.169880,-0.206478,0.285225,0.196411,0.136789,0.248808,0.360837,0.111585,-0.350478
8184,¬Dog,animals#shark01,positive examples,1,animals#shark01,0.265107,0.035628,0.237405,-0.208801,0.326406,...,0.297430,-0.169880,-0.206478,0.285225,0.196411,0.136789,0.248808,0.360837,0.111585,-0.350478
8185,¬Dog,animals#eagle01,positive examples,1,animals#eagle01,0.303576,-0.257578,0.161850,-0.179229,0.374312,...,0.297430,-0.169880,-0.206478,0.285225,0.196411,0.136789,0.248808,0.360837,0.111585,-0.350478
8186,¬Dog,animals#eel01,positive examples,1,animals#eel01,0.183932,-0.133378,0.220719,-0.224796,0.297274,...,0.297430,-0.169880,-0.206478,0.285225,0.196411,0.136789,0.248808,0.360837,0.111585,-0.350478
8187,¬Dog,animals#dog01,negative examples,0,animals#dog01,0.319683,-0.116797,0.145267,-0.214833,0.240879,...,0.297430,-0.169880,-0.206478,0.285225,0.196411,0.136789,0.248808,0.360837,0.111585,-0.350478

In [10]:
neg_ent['Expression'].unique()
neg_ent.columns

Index(['Expression', 'Individual', 'Example Type', 'Example Encoding',
       'Unnamed: 0_ind', '0_ind', '1_ind', '2_ind', '3_ind', '4_ind', '5_ind',
       '6_ind', '7_ind', '8_ind', '9_ind', '10_ind', '11_ind', '12_ind',
       '13_ind', '14_ind', '15_ind', '16_ind', '17_ind', '18_ind', '19_ind',
       '20_ind', '21_ind', '22_ind', '23_ind', '24_ind', '25_ind', '26_ind',
       '27_ind', '28_ind', '29_ind', '30_ind', '31_ind', '32_ind', '33_ind',
       '34_ind', '35_ind', '36_ind', '37_ind', '38_ind', '39_ind',
       'b_Expression', 'Unnamed: 0_cla', '0_cla', '1_cla', '2_cla', '3_cla',
       '4_cla', '5_cla', '6_cla', '7_cla', '8_cla', '9_cla', '10_cla',
       '11_cla', '12_cla', '13_cla', '14_cla', '15_cla', '16_cla', '17_cla',
       '18_cla', '19_cla', '20_cla', '21_cla', '22_cla', '23_cla', '24_cla',
       '25_cla', '26_cla', '27_cla', '28_cla', '29_cla', '30_cla', '31_cla',
       '32_cla', '33_cla', '34_cla', '35_cla', '36_cla', '37_cla', '38_cla',
       '39_cla'],
      dtype='object')

In [11]:
X = neg_ent[['0_ind', '1_ind', '2_ind', '3_ind', '4_ind', '5_ind', '6_ind', '7_ind', '8_ind', '9_ind', '10_ind', '11_ind', '12_ind', '13_ind', '14_ind', '15_ind', '16_ind', '17_ind', '18_ind', '19_ind', '20_ind', '21_ind', '22_ind', '23_ind', '24_ind', '25_ind', '26_ind', '27_ind', '28_ind', '29_ind', '30_ind', '31_ind', '32_ind', '33_ind', '34_ind', '35_ind', '36_ind', '37_ind', '38_ind', '39_ind', '0_cla', '1_cla', '2_cla', '3_cla', '4_cla', '5_cla', '6_cla', '7_cla', '8_cla', '9_cla', '10_cla', '11_cla', '12_cla', '13_cla', '14_cla', '15_cla', '16_cla', '17_cla', '18_cla', '19_cla', '20_cla', '21_cla', '22_cla', '23_cla', '24_cla', '25_cla', '26_cla', '27_cla', '28_cla', '29_cla', '30_cla', '31_cla', '32_cla', '33_cla', '34_cla', '35_cla', '36_cla', '37_cla', '38_cla', '39_cla']]
y = neg_ent['Example Encoding']
X#.shape
# y

,0_ind,1_ind,2_ind,3_ind,4_ind,5_ind,6_ind,7_ind,8_ind,9_ind,...,30_cla,31_cla,32_cla,33_cla,34_cla,35_cla,36_cla,37_cla,38_cla,39_cla
0,0.303576,-0.257578,0.161850,-0.179229,0.374312,0.200823,0.184311,0.219299,-0.027606,-0.195305,...,-0.190652,0.317788,0.006029,0.285176,-0.176120,0.070169,0.269090,0.445585,0.012556,-0.332329
1,0.252662,-0.221016,0.193865,-0.269896,0.241908,0.160640,0.321766,0.201966,-0.108080,0.165671,...,-0.190652,0.317788,0.006029,0.285176,-0.176120,0.070169,0.269090,0.445585,0.012556,-0.332329
2,0.319683,-0.116797,0.145267,-0.214833,0.240879,0.147873,0.146104,0.173744,-0.102140,-0.017775,...,-0.190652,0.317788,0.006029,0.285176,-0.176120,0.070169,0.269090,0.445585,0.012556,-0.332329
3,0.256755,0.015516,0.219961,-0.188331,0.250906,0.161913,0.430219,0.133191,-0.198793,-0.108973,...,-0.190652,0.317788,0.006029,0.285176,-0.176120,0.070169,0.269090,0.445585,0.012556,-0.332329
4,0.135965,0.043173,0.263420,-0.280071,0.259648,0.166222,0.244004,0.083903,-0.000532,-0.088859,...,-0.190652,0.317788,0.006029,0.285176,-0.176120,0.070169,0.269090,0.445585,0.012556,-0.332329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8183,0.115120,-0.028380,0.157293,-0.273941,0.275957,0.136321,0.229726,0.066404,-0.059985,0.030648,...,0.297430,-0.169880,-0.206478,0.285225,0.196411,0.136789,0.248808,0.360837,0.111585,-0.350478
8184,0.265107,0.035628,0.237405,-0.208801,0.326406,0.151469,0.338959,0.051302,-0.042855,0.286972,...,0.297430,-0.169880,-0.206478,0.285225,0.196411,0.136789,0.248808,0.360837,0.111585,-0.350478
8185,0.303576,-0.257578,0.161850,-0.179229,0.374312,0.200823,0.184311,0.219299,-0.027606,-0.195305,...,0.297430,-0.169880,-0.206478,0.285225,0.196411,0.136789,0.248808,0.360837,0.111585,-0.350478
8186,0.183932,-0.133378,0.220719,-0.224796,0.297274,0.156351,0.205907,0.099898,-0.033123,0.022994,...,0.297430,-0.169880,-0.206478,0.285225,0.196411,0.136789,0.248808,0.360837,0.111585,-0.350478
8187,0.319683,-0.116797,0.145267,-0.214833,0.240879,0.147873,0.146104,0.173744,-0.102140,-0.017775,...,0.297430,-0.169880,-0.206478,0.285225,0.196411,0.136789,0.248808,0.360837,0.111585,-0.350478

In [12]:
X = torch.tensor(X.values, dtype=torch.float32)
y = torch.tensor(y, dtype=torch.float32).reshape(-1, 1)

In [13]:
# Hyperparameters
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

# Convert data to PyTorch tensors
X_train_tensor = torch.tensor(X_train, dtype=torch.float32)
X_test_tensor = torch.tensor(X_test, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train, dtype=torch.long)
y_test_tensor = torch.tensor(y_test, dtype=torch.long)

X_train_tensor = torch.reshape(X_train_tensor, (X_train_tensor.shape[0], 1, X_train_tensor.shape[1]))
X_test_tensor = torch.reshape(X_test_tensor, (X_test_tensor.shape[0], 1, X_test_tensor.shape[1]))
y_train_tensor = torch.reshape(y_train_tensor, (y_train_tensor.shape[0], 1, y_train_tensor.shape[1]))
y_test_tensor = torch.reshape(y_test_tensor, (y_test_tensor.shape[0], 1, y_test_tensor.shape[1]))


# Define hyperparameters
input_size = X_train.shape[1]
hidden_size = 60
output_size = 2 # num_classes = 2
num_layers = 2
learning_rate = 0.1
num_epochs = 1000
batch_size = 50

/tmp/ipykernel_8710/3815233329.py:5: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  X_train_tensor = torch.tensor(X_train, dtype=torch.float32)
/tmp/ipykernel_8710/3815233329.py:6: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  X_test_tensor = torch.tensor(X_test, dtype=torch.float32)
/tmp/ipykernel_8710/3815233329.py:7: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  y_train_tensor = torch.tensor(y_train, dtype=torch.long)
/tmp/ipykernel_8710/3815233329.py:8: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  y_test_tensor = torch.tensor(y_test, dtype=torch.long)

In [14]:
# X_train_tensor.shape
print("Training Shape", X_train_tensor.shape, y_train_tensor.shape)
print("Testing Shape", X_test_tensor.shape, y_test_tensor.shape)

Training Shape torch.Size([6550, 1, 80]) torch.Size([6550, 1, 1])
Testing Shape torch.Size([1638, 1, 80]) torch.Size([1638, 1, 1])

In [15]:
# Define LSTM classifier model
class LSTMClassifier(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers, output_size, batch_size):
        super(LSTMClassifier, self).__init__()
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        h0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(x.device)
        c0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(x.device)
        out, _ = self.lstm(x, (h0, c0))
        out = self.fc(out[:, -1, :])
        return out

In [16]:
# Instantiate the model
neg_model = LSTMClassifier(input_size, hidden_size, num_layers, output_size, batch_size)

In [17]:
# Define loss function and optimizer
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(neg_model.parameters(), lr=learning_rate)

In [18]:
# Train the model
for epoch in range(num_epochs):
    optimizer.zero_grad()
    outputs = neg_model(X_train_tensor)
    loss = criterion(outputs, torch.flatten(y_train_tensor))
    loss.backward()
    optimizer.step()
    if epoch % 10 == 0:
        print("Epoch: %d, loss: %1.5f" % (epoch, loss.item()))

Epoch: 0, loss: 0.75883
Epoch: 10, loss: 0.16132
Epoch: 20, loss: 0.13662
Epoch: 30, loss: 0.06719
Epoch: 40, loss: 0.06033
Epoch: 50, loss: 0.04898
Epoch: 60, loss: 0.03755
Epoch: 70, loss: 0.02820
Epoch: 80, loss: 0.02243
Epoch: 90, loss: 0.01930
Epoch: 100, loss: 0.01777
Epoch: 110, loss: 0.01684
Epoch: 120, loss: 0.01613
Epoch: 130, loss: 0.01545
Epoch: 140, loss: 0.01478
Epoch: 150, loss: 0.01394
Epoch: 160, loss: 0.01256
Epoch: 170, loss: 0.01067
Epoch: 180, loss: 0.00842
Epoch: 190, loss: 0.00601
Epoch: 200, loss: 0.00359
Epoch: 210, loss: 0.00209
Epoch: 220, loss: 0.00103
Epoch: 230, loss: 0.00059
Epoch: 240, loss: 0.00041
Epoch: 250, loss: 0.00032
Epoch: 260, loss: 0.00026
Epoch: 270, loss: 0.00022
Epoch: 280, loss: 0.00019
Epoch: 290, loss: 0.00017
Epoch: 300, loss: 0.00015
Epoch: 310, loss: 0.00014
Epoch: 320, loss: 0.00013
Epoch: 330, loss: 0.00011
Epoch: 340, loss: 0.00011
Epoch: 350, loss: 0.00010
Epoch: 360, loss: 0.00009
Epoch: 370, loss: 0.00008
Epoch: 380, loss: 0.00008
Epoch: 390, loss: 0.00007
Epoch: 400, loss: 0.00007
Epoch: 410, loss: 0.00007
Epoch: 420, loss: 0.00006
Epoch: 430, loss: 0.00006
Epoch: 440, loss: 0.00006
Epoch: 450, loss: 0.00005
Epoch: 460, loss: 0.00005
Epoch: 470, loss: 0.00005
Epoch: 480, loss: 0.00005
Epoch: 490, loss: 0.00004
Epoch: 500, loss: 0.00004
Epoch: 510, loss: 0.00004
Epoch: 520, loss: 0.00004
Epoch: 530, loss: 0.00004
Epoch: 540, loss: 0.00004
Epoch: 550, loss: 0.00003
Epoch: 560, loss: 0.00003
Epoch: 570, loss: 0.00003
Epoch: 580, loss: 0.00003
Epoch: 590, loss: 0.00003
Epoch: 600, loss: 0.00003
Epoch: 610, loss: 0.00003
Epoch: 620, loss: 0.00003
Epoch: 630, loss: 0.00003
Epoch: 640, loss: 0.00003
Epoch: 650, loss: 0.00002
Epoch: 660, loss: 0.00002
Epoch: 670, loss: 0.00002
Epoch: 680, loss: 0.00002
Epoch: 690, loss: 0.00002
Epoch: 700, loss: 0.00002
Epoch: 710, loss: 0.00002
Epoch: 720, loss: 0.00002
Epoch: 730, loss: 0.00002
Epoch: 740, loss: 0.00002
Epoch: 750, loss: 0.00002
Epoch: 760, loss: 0.00002
Epoch: 770, loss: 0.00002
Epoch: 780, loss: 0.00002
Epoch: 790, loss: 0.00002
Epoch: 800, loss: 0.00002
Epoch: 810, loss: 0.00002
Epoch: 820, loss: 0.00002
Epoch: 830, loss: 0.00002
Epoch: 840, loss: 0.00001
Epoch: 850, loss: 0.00001
Epoch: 860, loss: 0.00001
Epoch: 870, loss: 0.00001
Epoch: 880, loss: 0.00001
Epoch: 890, loss: 0.00001
Epoch: 900, loss: 0.00001
Epoch: 910, loss: 0.00001
Epoch: 920, loss: 0.00001
Epoch: 930, loss: 0.00001
Epoch: 940, loss: 0.00001
Epoch: 950, loss: 0.00001
Epoch: 960, loss: 0.00001
Epoch: 970, loss: 0.00001
Epoch: 980, loss: 0.00001
Epoch: 990, loss: 0.00001

In [19]:
y_prediction = neg_model(X_test_tensor)
loss = criterion(y_prediction, torch.flatten(y_test_tensor))
loss.item()

0.03392800688743591

In [20]:
(y_prediction.argmax(1) == y_test_tensor).to(float).mean()

tensor(0.9272, dtype=torch.float64)

In [21]:
y_prediction

tensor([[-7.6188,  7.5946],
        [-6.1251,  6.1077],
        [-5.3824,  5.3693],
        ...,
        [-7.6596,  7.6422],
        [-7.7011,  7.6845],
        [-4.9665,  4.9549]], grad_fn=<AddmmBackward0>)

In [22]:
y_test_tensor

tensor([[[1]],

        [[1]],

        [[1]],

        ...,

        [[1]],

        [[1]],

        [[1]]])

In [23]:
torch.save(neg_model.state_dict(), 'neg_model.pth')

# Creating DataFrame for Atomic and Negative Classes

In [24]:
atomic_ent.shape
atomic_ent.columns

Index(['Expression', 'Individual', 'Example Type', 'Example Encoding',
       'Unnamed: 0_ind', '0_ind', '1_ind', '2_ind', '3_ind', '4_ind', '5_ind',
       '6_ind', '7_ind', '8_ind', '9_ind', '10_ind', '11_ind', '12_ind',
       '13_ind', '14_ind', '15_ind', '16_ind', '17_ind', '18_ind', '19_ind',
       '20_ind', '21_ind', '22_ind', '23_ind', '24_ind', '25_ind', '26_ind',
       '27_ind', '28_ind', '29_ind', '30_ind', '31_ind', '32_ind', '33_ind',
       '34_ind', '35_ind', '36_ind', '37_ind', '38_ind', '39_ind',
       'Unnamed: 0_cla', '0_cla', '1_cla', '2_cla', '3_cla', '4_cla', '5_cla',
       '6_cla', '7_cla', '8_cla', '9_cla', '10_cla', '11_cla', '12_cla',
       '13_cla', '14_cla', '15_cla', '16_cla', '17_cla', '18_cla', '19_cla',
       '20_cla', '21_cla', '22_cla', '23_cla', '24_cla', '25_cla', '26_cla',
       '27_cla', '28_cla', '29_cla', '30_cla', '31_cla', '32_cla', '33_cla',
       '34_cla', '35_cla', '36_cla', '37_cla', '38_cla', '39_cla'],
      dtype='object')

In [25]:
neg_ent.shape
neg_ent.columns

Index(['Expression', 'Individual', 'Example Type', 'Example Encoding',
       'Unnamed: 0_ind', '0_ind', '1_ind', '2_ind', '3_ind', '4_ind', '5_ind',
       '6_ind', '7_ind', '8_ind', '9_ind', '10_ind', '11_ind', '12_ind',
       '13_ind', '14_ind', '15_ind', '16_ind', '17_ind', '18_ind', '19_ind',
       '20_ind', '21_ind', '22_ind', '23_ind', '24_ind', '25_ind', '26_ind',
       '27_ind', '28_ind', '29_ind', '30_ind', '31_ind', '32_ind', '33_ind',
       '34_ind', '35_ind', '36_ind', '37_ind', '38_ind', '39_ind',
       'b_Expression', 'Unnamed: 0_cla', '0_cla', '1_cla', '2_cla', '3_cla',
       '4_cla', '5_cla', '6_cla', '7_cla', '8_cla', '9_cla', '10_cla',
       '11_cla', '12_cla', '13_cla', '14_cla', '15_cla', '16_cla', '17_cla',
       '18_cla', '19_cla', '20_cla', '21_cla', '22_cla', '23_cla', '24_cla',
       '25_cla', '26_cla', '27_cla', '28_cla', '29_cla', '30_cla', '31_cla',
       '32_cla', '33_cla', '34_cla', '35_cla', '36_cla', '37_cla', '38_cla',
       '39_cla'],
      dtype='object')

In [26]:
atomic_neg = pd.concat([atomic_ent, neg_ent])
# cols = ['Individual', 'Example Type', 'Example Encoding', 'Unnamed: 0_ind', 'Unnamed: 0_ind', '0_ind', '1_ind', '2_ind', '3_ind', '4_ind', '5_ind',
#        '6_ind', '7_ind', '8_ind', '9_ind', '10_ind', '11_ind', '12_ind',
#        '13_ind', '14_ind', '15_ind', '16_ind', '17_ind', '18_ind', '19_ind',
#        '20_ind', '21_ind', '22_ind', '23_ind', '24_ind', '25_ind', '26_ind',
#        '27_ind', '28_ind', '29_ind', '30_ind', '31_ind', '32_ind', '33_ind',
#        '34_ind', '35_ind', '36_ind', '37_ind', '38_ind', '39_ind']
# atomic_neg.drop(cols, axis='columns', inplace=True)
atomic_neg.shape
# atomic_neg.columns

(16376, 87)

In [27]:
atomic_neg.columns
atomic_neg = atomic_neg[["Expression",  '0_cla', '1_cla', '2_cla', '3_cla', '4_cla', '5_cla',
       '6_cla', '7_cla', '8_cla', '9_cla', '10_cla', '11_cla', '12_cla',
       '13_cla', '14_cla', '15_cla', '16_cla', '17_cla', '18_cla', '19_cla',
       '20_cla', '21_cla', '22_cla', '23_cla', '24_cla', '25_cla', '26_cla',
       '27_cla', '28_cla', '29_cla', '30_cla', '31_cla', '32_cla', '33_cla',
       '34_cla', '35_cla', '36_cla', '37_cla', '38_cla', '39_cla']]
atomic_neg.shape

(16376, 41)

In [29]:
atomic_neg = atomic_neg.drop_duplicates()#['Expression'].unique()
atomic_neg.shape

(48, 41)

In [ ]:
atomic_neg.to_csv('atomic_neg.csv', index=False)